<h1>Article</h1>

<table class="table">
  <tr>
    <th>Image</th>
    <th>Type</th>
    <th>Subtype</th>
    <th>Brand</th>
    <th>Color</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>
      <img src="<%= @article.image_url %>" width=100px height=100px alt="@article_<%= @article.id %>"</img>
    </td>
    <td><%= @article.article_type.name %></td>
    <td><%= @article.subtype %></td>
    <td><%= @article.brand %></td>
    <td><%= @article.color %></td>
    <td>
      <a href="/articles/<%= @article.id %>/edit">Edit</a>
    </td>
    <td>
    <form action="/articles/<%= @article.id %>" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete">
    </form>
  </td>
  </tr>
</div>
<div>
  <ul>
    <p>

    </p>
    <a>
  </ul>
</div>

