<h1>Article</h1>
<div id=@article_<%= @article.id %> >
  <img src="<%= @article.image_url %>" width=100px height=100px alt="@article_<%= @article.id %>"</img>
  <li>type: <%= @article.article_type %></li>
  <li>subtype: <%= @article.subtype %></li>
  <li>brand: <%= @article.brand %></li>
  <li>color: <%= @article.color %></li>
</div>
<div>
  <ul>
    <p>

    <a class='btn btn-default' href="/articles">Back</a>
    <a class="btn btn-success" href="/articles/<%= @article.id %>/edit">Edit</a>

    <form action="/articles/<%= @article.id %>" method="post">
      <input type="hidden" name="_method" value="delete" />
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
    </p>
    <a>
  </ul>
</div>

