<h1>Edit Article</h1>
<form action="" method="POST">
  <input type="hidden" name="article[article_type]" value="<%= @article.article_type %>" />
  <p>
  <label for="subtype">Type</label>
  <br>
  <input type="text" name="article[subtype]" id="subtype" 
  value="<%= @article.subtype %>" />
  </p>
  <p>
  <label for="brand">Brand</label>
  <br>
  <input type="text" name="article[brand]" id="brand"
  value="<%= @article.brand %>">
  </p>
  <p>
  <label for="color">Color</label>
  <br>
  <input type="text" name="article[color]" id="color"
  value="<%= @article.color %>">
  </p>
  <p>
  <label for="image_url">Image URL</label>
  <br>
  <input type="text" name="article[image_url]" id="image_url"
  value="<%= @article.image_url %>">
  </p>
  <input type="submit">
</form>
