<h1>Article</h1>
<div id=@article_<%= @article.id %> >
  <img src="<%= @article.image_url %>" width=100px height=100px alt="@article_<%= @article.id %>"</img>
  <li>type: <%= @article.subtype %></li>
  <li>type: <%= @article.brand %></li>
  <li>type: <%= @article.color %></li>
</div>
<div>
  <ul>
    <li><a href="/articles">Back</a></li>
    <li><a href="/articles/<%= @article.id %>/edit">Edit</a></li>
    <li>
    <form action="/articles/<%= @article.id %>" method="post">

      <!-- get '/articles/:id', {"_method" => "delete"} --> 
      <input type="hidden" name="_method" value="delete" />

      <!-- submit button -->
      <input type="submit" value="Delete" />
    </form>
    </li>
  </ul>
</div>

