<h1>Article</h1>
<div id=@article_<%= @article.id %> >
  <img src="<%= @article.image_url %>" width=100px height=100px alt="@article_<%= @article.id %>"</img>
  <li>type: <%= @article.subtype %></li>
  <li>type: <%= @article.brand %></li>
  <li>type: <%= @article.color %></li>
</div>
<div>
  <a href="/articles">Back</a>
  <a href="#">Edit</a>
  <a href="#">Delete</a>
</div>

