<h1>Shoe</h1>
  <% @shoes.each do |shoe| %>
    <div id=shoe_<%= shoe.id %> >
      <img src="<%= shoe.image_url %>" width=100px height=100px alt="shoe_<%= shoe.id %>"</img>
      <li>type: <%= shoe.subtype %></li>
      <li>type: <%= shoe.brand %></li>
      <li>type: <%= shoe.color %></li>
    </div>
  <% end %>
</ul>

